$color-strong-cyan: rgb(38, 186, 164);
$color-light-blue: rgb(97, 115, 255);
$color-dark-grayish-blue: rgb(76, 84, 93);
$color-grayish-blue: rgb(159, 171, 178);

$bp-large: 75em; //1200px
$bp-big: 62.5em; //1000px
$bp-medium: 46.875em; //750px
$bp-small: 23.4375em; //375px